* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 36px;
    font-weight: normal;
}

ul {
    list-style: none;
}

a,
button {
    cursor: pointer;
}

button {
    border: none;
}

.header {
    padding: 16px 0;
}

.container {
    max-width: 1088px;
    margin: auto;
    padding: 0 16px;
}

.header__container {
    display: flex;
    align-items: center;
    width: 1440px;
}

nav {
    margin-right: 5.76vw;
    max-width: 423px;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.nav li {
    font-weight: 700;
    color: #1C1B1B;
}

.logo {
    margin-right: 370px;
    /* 26vw сужает надпись*/
}

.header__icons-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: auto;
}

.introduction {
    background-color: #F0EFEB;
}

.introduction__text-block {
    padding: 90px 0;
    max-width: 525px;
}

.introduction__container {
    display: flex;
    justify-content: space-between;
}

.introduction__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 42px;
}

.introduction__text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px;
}

.introduction__button {
    color: #FFFFFF;
    background-color: #000000;
    font-size: 17px;
    line-height: 20px;
    padding: 8px 23px;
    border-radius: 100px;
}

.best-sellers {
    max-width: 1280px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
}

.best-sellers__text-block {
    text-align: center;
}

.best-sellers__title {
    font-size: 36px;
    font-weight: bold;
    padding: 60px 0;
    margin: auto;
}

.best-sellers__text {
    font-size: 20px;
    max-width: 632px;
    margin: auto;
}

.best-sellers__best {
    text-align: center;
}

.best-sellers__chart {
    display: flex;
    justify-content: space-between;
}

.chart-text {
    margin: auto;
    padding: 27px 0;
    max-width: 156px;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.price {
    font-size: 17px;
    padding-bottom: 10px;
}

.best-sellers__chart-block {
    margin: auto;
}

.best-sellers__link {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
}

.people-and-society {
    background-color: #CCCCCC4D;
}

.people-and-society__container {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}

.people-and-society__text-block {
    width: 532px;
    height: 511px;
    margin: auto;
}

.people-and-society__title {
    font-weight: bold;
    margin-top: 62px;
}

.people-and-society__link {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}

.people-and-society__text {
    margin-top: 31px;
    margin-bottom: 40px;
}

.culture-and-heritage {
    background-color: #CCCCCC99;
}

.culture-and-heritage__container {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}

.culture-and-heritage__text-block {
    width: 532px;
    height: 468px;
    margin: auto;
}

.culture-and-heritage__text {
    font-size: 36px;
    font-weight: normal;
    text-align: right;
    margin-top: 31px;
    margin-bottom: 40px;
}

.culture-and-heritage__title {
    font-weight: bold;
    margin-top: 62px;
    text-align: right;
}

.culture-and-heritage__link {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    text-align: right;
}

.power-and-politics {
    background-color: #CCCCCC4D;
}

.power-and-politics__container {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}

.power-and-politics__text-block {
    width: 532px;
    height: 511px;
    margin: auto;
}

.power-and-politics__title {
    font-weight: bold;
    margin-top: 62px;
}

.ppower-and-politics__link {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}

.power-and-politics__text {
    margin-top: 31px;
    margin-bottom: 40px;
}

.features {
    width: 1280px;
    padding-top: 190px;
    margin: auto;
}

.features__text-block {
    text-align: center;
}

.features__title {
    font-size: 36px;
}

.features__wrapper {
    width: 1088px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    padding: 69px 0;
    margin: auto;
}

.features__block {
    width: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
}

.circle {
    width: 70px;
    height: 70px;
    /* border: solid 1px; */
    border-radius: 35px;
}

.features__block-title {
    font-size: 30px;
    font-weight: bold;
    max-width: 211px;
    text-align: center;
    padding: 26px 0;
}

.circle1 {
    background: #21F7EC;
}

.circle2 {
    background: #33D3BC;
}

.circle3 {
    background: #18A5C6;
}

.circle4 {
    background: #D38F62;
}

.circle5 {
    background: #F94C43;
}

.circle6 {
    background: #D399FF;
}

.voices {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.voices__wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;
}

.voices__title {
    text-align: center;
    max-width: 705px;
    margin: auto;
    font-size: 36px;
    font-weight: bold;
}

.voices__container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 52px 0;
}

.voices__container__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 288px;
}

.voices__container__block__text {
    padding: 35px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.citate {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 40px;
}

.sign_name {
    font-size: 19px;
}

.sign_country {
    font-size: 20px;
}

.voices__link {
    font-size: 18px;
    font-weight: bold;
}

.voices__link:visited {
    color: #000000;
}

.form {
    width: 570px;
    margin: auto;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__text-block {
    margin: auto;
    max-width: 496px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

.subscribe_form {
    width: 366px;
    margin: auto;
    padding-top: 26px;
}

.form__title {
    font-size: 36px;
}

.form__text {
    font-size: 17px;
    padding: 9px 0;
}

.form__input-name {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.form__input-email {
    /* display: flex;
    justify-content: stretch; */
    margin: auto;
    padding: 18px 0;
}

.subscribe-button {
    width: 115px;
    height: 33px;
    margin: auto;
    font-size: 14px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 17px;
}

footer {
    width: 100%;
    height: 290px;
    background-color: #020202;
    margin-top: -400px;
}

.footer__container {
    max-width: 1144px;
    /* height: 224px; */
    margin: auto;
    padding: 50px 0;
    display: flex;
}

.footer__container_icons-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: space-between;
    flex: 714px;
}

.footer__container-icons {
    padding-top: 25px;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.footer__container-text {
    font-size: 14px;
    color: #FFFFFF;
    margin: auto;
    text-align: center;
}

.footer__container-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 14px;
    flex: 215px;
}

.footer-link {
    text-decoration: none;
    color: #FFFFFF;
    padding-top: 12px;
}

.footer-link:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.footer__container-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 14px;
    flex: 215px;
}

.background_element {
    z-index: -1;
    height: 480px;
    position: relative;
    left: opx;
    top: -810px;
    background: #F0F0F0;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {
    .best-sellers__chart-block img {
        max-width: 260px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 552px) {}