* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 36px;
    font-weight: normal;
}

ul {
    list-style: none;
}

a,
button {
    cursor: pointer;
}

button {
    border: none;
}

.header {
    padding: 16px 0;
}

.container {
    max-width: 1088px;
    width: 100%;
    margin: auto;
    padding: 0 16px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1088px;
    width: 100%;
}

.hamburger-menu {
    visibility: hidden;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.header_link {
    text-decoration: none;
}

.header_link:visited {
    color: #000000;
}

nav {
    margin-right: 5.76vw;
    max-width: 423px;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.nav li {
    font-weight: 700;
    color: #1C1B1B;
}


.header__icons-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: auto;
}

.introduction {
    background-color: #F0EFEB;
}

.introduction__text-block {
    padding: 90px 0;
    max-width: 525px;
    width: 100%;
}

.introduction__container {
    max-width: 1088px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.introduction__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 42px;
}

.introduction__text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px;
}

.introduction__button {
    color: #FFFFFF;
    background-color: #000000;
    font-size: 17px;
    line-height: 20px;
    padding: 8px 23px;
    border-radius: 100px;
    transition: all .3s linear;
}

.introduction__button:hover {
    transform: scale(1.1);
}

.introduction__image {
    transition: all .3s ease-out;
    object-fit: contain;
}

.introduction__image:hover {
    transform: scale(1.1);
}

.best-sellers {
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
}

.best-sellers__text-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.best-sellers__title {
    font-size: 36px;
    font-weight: bold;
    padding: 60px 0;
    margin: auto;
}

.best-sellers__text {
    font-size: 20px;
    max-width: 632px;
    width: 100%;
    margin: auto;
}

.best-sellers__best {
    text-align: center;
}

.best-sellers__chart {
    display: flex;
    justify-content: space-between;
}

.chart-text {
    margin: auto;
    padding: 27px 0;
    max-width: 156px;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.price {
    font-size: 17px;
    padding-bottom: 10px;
}

.best-sellers__chart-block {
    margin: auto;
}

.best-sellers__chart-block img {
    transition: all .3s ease-out;
    width: 100%;
}

.best-sellers__chart-block img:hover {
    transform: scale(1.1);
}

.best-sellers__link {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    transition: all .3s ease-out;
}

.best-sellers__link:hover {
    color: #707070;
}

.single-article-image {
    height: 100%;
}

.people-and-society {
    background-color: #CCCCCC4D;
    margin: auto;
}

.people-and-society__container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 90px 0px;
    margin-top: 76px;
    max-width: 1164px;
    width: 100%;
}

.people-and-society__text-block {
    max-width: 532px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
}

.people-and-society__title {
    font-weight: bold;
}

.people-and-society__link {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    transition: all .3s ease-out;
}

.people-and-society__link:visited {
    color: #000000;
}

.people-and-society__link:hover {
    color: #707070;
}

.culture-and-heritage {
    background-color: #CCCCCC99;

    margin: auto;
}

.culture-and-heritage__container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 90px 0px;
    max-width: 1164px;
    width: 100%;
}

.culture-and-heritage__text-block {
    max-width: 532px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
}

.culture-and-heritage__text {
    font-size: 36px;
    font-weight: normal;
    text-align: right;
}

.culture-and-heritage__title {
    font-weight: bold;
    text-align: right;
}

.culture-and-heritage__link {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    text-align: right;
    transition: all .3s ease-out;
}

.culture-and-heritage__link:visited {
    color: #000000;
}

.culture-and-heritage__link:hover {
    color: #707070;
}

.power-and-politics {
    background-color: #CCCCCC4D;
    margin: auto;
}

.power-and-politics__container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 90px 0px;
    max-width: 1164px;
    width: 100%;
}

.power-and-politics__text-block {
    max-width: 532px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
}

.power-and-politics__title {
    font-weight: bold;
}

.power-and-politics__link {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    transition: all .3s ease-out;
}

.power-and-politics__link:visited {
    color: #000000;
}

.power-and-politics__link:hover {
    color: #707070;
}

.features {
    width: 100%;
    padding-top: 190px;
    margin: auto;
}

.features__text-block {
    text-align: center;
}

.features__title {
    font-size: 36px;
}

.features__wrapper {
    max-width: 1088px;
    width: 100%;
    justify-content: space-around;
    align-items: start;
    padding: 69px 0 52px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
}

.features__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.features__block-title {
    font-size: 30px;
    font-weight: bold;
    max-width: 211px;
    width: 100%;
    text-align: center;
    padding: 26px 0;
}

.circle1 {
    background: #21F7EC;
}

.circle1:hover {
    box-shadow: 0px 10px 40px 5px #21F7EC;
}

.circle2 {
    background: #33D3BC;
}

.circle2:hover {
    box-shadow: 0px 10px 40px 5px #33D3BC;
}

.circle3 {
    background: #18A5C6;
}

.circle3:hover {
    box-shadow: 0px 10px 40px 5px #18A5C6;
}

.circle4 {
    background: #D38F62;
}

.circle4:hover {
    box-shadow: 0px 10px 40px 5px #D38F62;
}

.circle5 {
    background: #F94C43;
}

.circle5:hover {
    box-shadow: 0px 10px 40px 5px #F94C43;
}

.circle6 {
    background: #D399FF;
}

.circle6:hover {
    box-shadow: 0px 10px 40px 5px #D399FF;
}

.voices {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.voices__wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 100px 0;
}

.voices__background {
    width: 100%;
    height: 50%;
    background-color: #F0F0F0;
    /* display: flex; */
    position: absolute;
    top: 42%;
    z-index: -1;
}

.voices__title {
    text-align: center;
    max-width: 705px;
    margin: auto;
    font-size: 36px;
    font-weight: bold;
}

.voices__container__block {
    max-width: 288px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.voices__container__block__text {
    width: 100%;
    padding: 35px 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.citate {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 40px;
}

.sign_name {
    font-size: 19px;
}

.sign_country {
    font-size: 20px;
}

.voices__link {
    font-size: 18px;
    font-weight: bold;
}

.voices__link:visited {
    color: #000000;
}

.form {
    max-width: 570px;
    margin: auto;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__text-block {
    margin: auto;
    max-width: 496px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

.subscribe_form {
    max-width: 366px;
    width: 100%;
    margin: auto;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
}

.form__title {
    font-size: 36px;
}

.form__text {
    font-size: 17px;
    padding: 9px 0;
}

.form__input-name {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}

.form__input-email {
    margin: auto;
    padding: 18px 0;
    width: 100%;
}

#Email {
    width: 100%;
    height: 39px;
    padding-left: 8px;
}

#Email:focus {
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #979797;
    outline: none
}

#FirstName {
    width: 100%;
    height: 39px;
    padding-left: 8px;
}

#FirstName:focus {
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #979797;
    outline: none
}

#LastName {
    width: 100%;
    height: 39px;
    padding-left: 8px;
}

#LastName:focus {
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #979797;
    outline: none
}

.subscribe-button {
    width: 115px;
    height: 33px;
    margin: auto;
    font-size: 14px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 17px;
    transition: all .3s linear;
}

.subscribe-button:hover {
    transform: scale(1.1);
}

footer {
    width: 100%;
    height: 290px;
    background-color: #020202;
}

.footer__container {
    max-width: 1144px;
    height: 224px;
    margin: auto;
    padding: 50px 0;
    display: flex;
}

.footer__container_icons-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: space-between;
    flex: 714px;
}

.footer__container-icons {
    padding-top: 25px;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.footer__container-text {
    font-size: 14px;
    color: #FFFFFF;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.footer__container-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 14px;
    flex: 215px;
}

.footer-link {
    text-decoration: none;
    color: #FFFFFF;
    padding-top: 12px;
}

.footer-link:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.footer__container-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 14px;
    flex: 215px;
}


@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {
    .introduction__container {
        /* flex-direction: column-reverse; */
        /* justify-content: center; */
        /* gap: 10px; */
    }

    .introduction__text-block {
        padding: 60px 0;
    }

    .introduction__title {
        font-size: 40px;
        line-height: 50px;
    }

    .introduction__image {
        width: 90%;
        height: 90%;
    }

    .best-sellers {
        margin-bottom: 30px;
    }

    .best-sellers__title {
        padding: 30px 0;
    }

    .best-sellers__chart-block img {
        max-width: 260px;
        width: 100%;
    }

    .chart-text {
        padding: 15px;
    }

    .single-article-image {
        width: 60%;
    }

    .people-and-society__container {
        padding: 30px 5px;
    }

    .people-and-society__text-block {
        gap: 30px;
    }

    .people-and-society__text {
        font-size: 30px;
    }

    .culture-and-heritage__container {
        padding: 30px 5px;
    }

    .culture-and-heritage__text-block {
        gap: 30px;
    }

    .culture-and-heritage__text {
        font-size: 30px;
    }

    .power-and-politics__container {
        padding: 30px 5px;
    }

    .power-and-politics__text-block {
        gap: 30px;
    }

    .power-and-politics__text {
        font-size: 30px;
    }

    .features {
        padding-top: 120px;
    }

    .features__wrapper {
        padding: 50px 5px;
    }

    .features__block {
        max-width: 260px;
        margin-bottom: 60px;
    }

    .features__block-title {
        font-size: 24px;
        max-width: 180px;
        width: 100%;
        padding: 18px 0;
    }

    .voices__container__block img {
        width: 85%;
    }

    .voices__wrapper {
        padding: 80px 5px;
    }
}

@media only screen and (max-width: 768px) {
    .nav__list {
        gap: 5px;
    }

    .header__icons-wrapper {
        gap: 5px;
    }

    .header__icons-wrapper img {
        width: 100%;
    }

    .header_link {
        font-size: 13px;
        font-weight: 500;
    }

    .introduction__title {
        font-size: 30px;
        line-height: 30px;
    }

    .introduction__text {
        font-size: 20px;
    }

    .best-sellers__title {
        padding: 20px 5px;
        font-size: 30px;
    }

    .best-sellers__text {
        font-size: 18px;
    }

    .chart-text {
        padding: 12px;
        font-size: 15px;
    }

    .price {
        font-size: 15px;
    }

    .best-sellers__link {
        font-size: 15px;
    }

    .single-article-image {
        width: 40%;
    }

    h2 {
        font-size: 32px;
    }

    .people-and-society__text {
        font-size: 26px;
    }

    .culture-and-heritage__text {
        font-size: 26px;
    }

    .power-and-politics__text {
        font-size: 26px;
    }

    .circle {
        width: 60px;
        height: 60px;
    }

    .features__block-title {
        font-size: 22px;
        max-width: 150px;
        width: 100%;
        padding: 16px 5px;
    }

    .voices__wrapper {
        padding: 60px 5px;
    }

    .voices__title {
        font-size: 30px;
    }

    .voices__background {
        display: none;
    }

    .voices__container__block__text {
        padding: 25px 1px;
    }

    .citate {
        font-size: 20px;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 552px) {
    h2 {
        font-size: 28px;
    }

    .header {
        padding: 5px 0;
    }

    .nav__list {
        display: none;
    }

    .hamburger-menu {
        visibility: visible;
    }

    #menu__toggle {
        visibility: hidden;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        /* position: fixed; */
        top: 25px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    #menu_toggle {
        visibility: hidden;
    }

    .nav__list-burger {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }

    .header_link_burger {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.nav__list-burger {
        visibility: visible;
        left: 0;
    }

    .best-sellers__chart {
        flex-direction: column;
        gap: 10px;
    }

    .single-article-image {
        width: 100%;
    }

    .people-and-society__container {
        flex-direction: column;
        align-items: center;
    }

    .culture-and-heritage__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .power-and-politics__container {
        flex-direction: column;
        align-items: center;
    }

    .features {
        padding: 30px 0;
    }

    .circle {
        width: 45px;
        height: 45px;
    }

    .features__wrapper {
        gap: 3px;
        padding: 20px 0;
    }

    .voices__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .voices__container__block img {
        width: 100%;
    }
}